@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

$theme-colors: (
  'accent': #a75a3e,
);

$primary: #fff3ec;
$secondary: #c8894d;
// $dark: rgb(24, 22, 20);
// $dark: #504948;
// $dark-overlay: rgba(98, 111, 114, 0.8);
$primary-overlay: #927b6ea1;
$primary-light-overlay: #d1b5a54d;

body {
  font-family: 'Quicksand', sans-serif !important;
  font-weight: 300;
  height: 100%;
  max-width: 100%;
}

html,
#root {
  height: 100%;
  max-width: 100%;
}

.navbar {
  box-shadow: 1px 1px 1px $primary;
  opacity: 0.9;
  background: #fff;
}

#nav-acc-dropdown {
  background-color: $primary;
}

.dropdown-menu.show {
  background-color: $primary !important;
}

#careers-content {
  background-image: url('../img/careers-main.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;

  .primary-overlay {
    background: $primary-overlay;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#home-showcase {
  background-image: url('../img/home-main.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 0%;
  height: 100vh;

  .primary-overlay {
    background: $primary-overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
  }
}

#home-secondary {
  background-image: url('../img/home-secondary-img.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 50% 70%;
  min-height: 300px;

  .primary-light-overlay {
    background: $primary-light-overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// .venue-img {
//   min-height: 230px;
//   height: auto;
//   max-height: 240px;
//   overflow: hidden;
//   position: relative;
//   object-fit: cover;
// }

.card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

.auth {
  background-image: url('../img/home-main.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  min-height: 560px;
  height: calc(100vh - 60px);

  .primary-overlay {
    background: $primary-overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 560px;
    height: calc(100vh - 60px);
  }
}

@media only screen and (max-width: 991px) {
  .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}

@media only screen and (max-width: 768px) {
  .card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

@import '~bootstrap/scss/bootstrap.scss';
